@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700&family=Bebas+Neue&family=Borel&family=Caveat&family=Dancing+Script:wght@500;600;700&family=Playfair+Display:wght@500;600;700&display=swap");

* {
  /* font-family: "Baloo Bhaina 2", cursive; */
  /* font-family: "Bebas Neue", sans-serif; */
  /* font-family: "Playfair Display", serif;  */
  /* font-family: "Borel", cursive; */
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 1.4rem 0;
}

:root {
  --max-width: 1240px;
}

body #bg-image {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center -100px;
  z-index: -3;
  width: 100%;
  filter: blur(8px);
  -webkit-filter: blur(6px);
}

body .blur {
  width: 100%;
  height: 100%;
  background: #00000036;
  z-index: -2;
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

/* navbar */
nav {
  max-width: var(--max-width);
  padding: 0.6rem 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  font-size: 24px;
  color: #fff;
}

nav .logo span {
  color: #ffcf4a;
  font-size: 14px;
}

nav .menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

nav .menu a {
  color: #fff;
  font-weight: 500;
  transition: all 0.1s ease;
}
nav .menu a:hover {
  text-shadow: 0 0 0.4rem #202020;
}
.search-box {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  overflow: hidden;
  width: 250px;
}
.search-box.active {
  background: #ffffff15;
}
.search-box.active input {
  display: block;
  position: relative;
  animation: fade-left 0.6s linear;
}
@keyframes fade-left {
  0% {
    opacity: 0;
    margin-left: -200px;
  }
  100% {
    opacity: 0;
    margin-left: 0%;
  }
}
.search-box input {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 14px;
  width: 100%;
  display: none;
}
.search-box input::placeholder {
  color: #ffffff8c;
}
.search-box i {
  color: #fff;
  font-weight: 500;
}

/* main started */
main {
  /* border: 1px solid #ffffff4d; */
  max-width: var(--max-width);
  height: 88vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: .4rem;
  border-radius: 1rem;
  margin-top: 1rem;
}
main #top {
  height: 60vh;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 2rem #00000060;
}
main section {
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main #top img {
  z-index: 1;
  width: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center 80px;
  z-index: 1;
  width: 100%;
  opacity: 0.8;
}
.info {
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.decore {
  text-align: center;
  font-size: 1.6rem;
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  color: white;
  margin: 0.2rem;
  text-shadow: 0 0 2px #000;
}
main .card h2,
main #top h2 {
  font-size: 6rem;
  line-height: 6.2rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  text-shadow: 0 0 1.4rem #0000009c;

}
main #top .description {
  width: 34vw;
  text-align: center;
  text-shadow: 0 0 .2rem #000000;
  margin-top: 0.2rem;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
/* Bottom */
main #bottom{
  border-radius: none;
  padding-top: 1rem;
}
#cards{
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 1rem  0;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.card{
  position: relative;
  width: 22vw;
  border-radius: .8rem;
  overflow: hidden;
  color: #fff;
  transition: all .3s ease;
  cursor: pointer;
}
.card.active{
  box-shadow: 0 0 1.2rem #000000;
  transform: scale(1.01);
}
.card::before{
  content: '';
  position: absolute;
  background: linear-gradient( #00000000 , #000000 ,#000000);
  width: 200%;
  height: 130%;
  left:-100%;
  bottom: -10%;
  transform: rotateZ(30deg);
  position: absolute;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .about-dest{
  position: absolute;
  bottom: 4%;
  left: 5%;
}
.card .about-dest .decore{
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
}
main .card h2{
  font-size: 2.2rem;
  line-height: 2.4rem;
  letter-spacing: 2px;
}
.card:hover{
  transform: scale(1.01);
  box-shadow: 0 0 1rem #0000004f;
}
.card.active:hover{
  transform: scale(1.01);
  box-shadow: 0 0 1.2rem #000000;

}